html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  background-color: #dee2e6;
  min-height: 100%;
  padding-bottom: 6.74rem;
  box-sizing: inherit;
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #24252a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edebeb;
  text-decoration: none;
}

header h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: white;
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(43, 139, 192);
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 156, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(5, 128, 139);
}

footer {
  padding: 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: #24252a;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;

}

footer li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

.footer-icons a {
  background-color: rgb(35, 195, 210);
  color: #272727;
  padding: 15px;
  border-radius: 100px;
  display: flex;
  font-size: 25px;
}

.footer-icons a:hover {
  background-color: rgb(35, 195, 210);
  color: #ffffff;
  padding: 15px;
  border-radius: 100px;
  display: flex;
  font-size: 25px;
}

.footer-menu a {
  color: white;
  font-family: "Roboto", sans-serif;
}

.footer-menu a:hover {
  color: rgb(22, 99, 181);
}

.Hero {
  text-align: center;
  margin-top: 60px;
  padding: 60px;
  border-radius: 100px;
}

.Hero p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 8px;
  color: #cdcdcd;
}

.Hero p:hover {
  color: rgb(22, 99, 181);
  cursor: pointer;
}

.Hero-text {
  background-color: #24252a;
  padding: 50px;
  border-radius: 20px;
}

.Hero h1 {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.Hero h1:hover {
  color: rgb(22, 99, 181);
  cursor: pointer;
}

.Primary-Btn {
  background-color: rgb(33, 187, 226);
  margin-right: 7px;
}

.Primary-Btn:hover {
  color: rgb(30, 172, 208);
}

.home-text p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.Highlighted-Text {
  color: rgb(143, 149, 149);
  font-size: 22px;
}

.Home {
  width: 100%;
  height: 200vh;
  padding: 0 8%;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.Short-Overview {
  margin-top: 40px;
  padding: 25px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.Short-Overview i{
  font-size: 30px;
  margin-bottom: 10px;
  background-color: rgb(27, 166, 179);
  padding: 10px;
  border-radius: 15px;
}

.Short-Overview:hover {
  background-color: #24252a;
  color: white;
  transform: scale(1.05);
}

.Short-Overview:hover i {
  color: black;
}